body {
    background-repeat: no-repeat;
    background: linear-gradient(110deg, #000 30%, rgba(10, 0, 0, 0));
    width: 90%;
    margin: 0 auto;
    font: 0.9em/1.2 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 {
    font-size: 16px;
    background: -webkit-linear-gradient(black, white);
    /*-webkit-background-clip: text;*/
    -webkit-text-fill-color: rgb(141, 10, 10);
    text-align: center;
    background: linear-gradient(90deg, #fff 0%, rgba(0, 0, 0, 0.977));
    font-weight: 150px;
    text-transform: uppercase; 
    padding: 5px;
    border-radius: 10px;
}

.prhead {
    background: linear-gradient(110deg, #fff 0%, rgba(0, 0, 0, 0.877));

}

h2 {
    background: -webkit-linear-gradient(black, white);
    /*-webkit-background-clip: text;*/
    -webkit-text-fill-color: rgba(247, 0, 0, 0.942);
    background: linear-gradient(110deg, #fff 0%, rgba(0, 0, 0, 0.777));
    font-size:20px;
    font-weight: 100px;
    margin: 60px auto 20px auto;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

h3 {
    background: -webkit-linear-gradient(white, black);
    /*-webkit-background-clip: text;*/
    -webkit-text-fill-color: rgba(247, 0, 0, 0.584);
    /*background: linear-gradient(110deg, #fff 0%, rgba(0, 0, 0, 0.977));*/
    font-size: 14px;
    font-weight: 100px;
    letter-spacing: 1px;
    text-align: center;
    margin: 56px auto 50px auto;
    padding: 5px;
    border-radius: 20px;
}

.container {
    display: inline-flex;
}

/*#health {
    justify-content:space-around;
}

#passtime {
    justify-content: flex-end;
    margin-top: auto;
}*/

.header {
    display:flex;
    justify-content: space-between;
}

.box {
    display:inline-flex;
}

/*#write {
    justify-content: flex-end;
}*/

p {
    background: -webkit-linear-gradient(white, black);
    /*-webkit-background-clip: text;*/
    -webkit-text-fill-color: rgba(247, 0, 0, 0.584);
    font-size: 14px;
    font-weight: 100px;
    letter-spacing: 1px;
    text-align: center;
    margin: 56px 20px 50px 0px;
    padding: 5px;
    border-radius: 10px;
}

.hobbies {
    margin: 20px;
    position: inline-block;
}

.hobbies img {
    border: 2px dotted #000000;
    height: 200px;
    width: 200px;
    margin: 30px 0px 0px 0px;
}

a:hover {
    margin: 0px 2px 0px;
    color: rgba(0, 2, 100, 0.911);
    background-color: rgba(9, 172, 63, 0.31);
}

.indexim img {
    display:grid;
    height: 500px;
    width: 90%;
    /*max-width: 1200px;*/
}

.project {
    margin: 30px;
}

.pject {
    justify-content: flex-end;
}

.project img {
    border: 2px dotted #000000;
    height: 200px;
    width: 200px;
    margin: 50px 0px 0px;
    display:flex;
}

